header {
    background-color: lightblue;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 5vh;

        a {
            margin-inline-start: 1em;
        }
    }
}