header {
    background-color: $clr4;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;

        >:first-child {
            display: flex;
            align-items: center;

            img {
                width: 100px;
                height: 80%;
            }
        }

        a {
            color: #9dafc2;
            margin-inline-start: 1em;
        }

        .btn {
            padding: 4px 10px;
        }

        .toggle-btn {
            background-color: $clr3;
        }
    }
}