header {
    background-color: $clr4;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 5vh;

        a {
            color: #9dafc2;
            margin-inline-start: 1em;
        }
    }
}