.contact-details {
    display: flex;
    height: fit-content;
    // height: 100%;

    img {
        height: 100px;
    }
    .contact-info{
        flex-grow: 1;
        display: grid;
        gap: 10px;
        margin: auto 10px;

        .contact-name{
            font-weight: 900;
        }
    }
}