.contact-preview{
    display: flex;
    cursor: pointer;
    gap: 10px;
    img{
        height: 50px;
    }

    .contact-info{
        flex-grow: 1;
        display: grid;
        .contact-name{
            font-weight: 900;
        }

        .btn{
            width: fit-content;
            margin-inline-start: auto;
        }
    }
}