.contact-index {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    padding: 10px 0;
    color: #fff;

    @include for-mobile-layout {
        grid-template-columns: 1fr
    }

    .search {
        padding: 0 20px;
        grid-column: 1/-1;
        display: flex;
        align-items: center;

        input {
            padding: 7px 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: $clr3;
            color: #fff;
            margin-inline-end: 10px;
        }
    }

    >* {
        background-color: $clr4;
        border-radius: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #00000020;
    }

    .sub-txt {
        color: $clr5;
    }
}